.hero_container {
  height: calc(100vh - 141px);
  overflow-x: hidden;
  width: 100%;
  margin-top: 141px;
  position: relative;
}
.carouselItem {
  position: relative;
}

.bgImage {
  height: calc(100vh - 141px) !important;
  width: 100% !important;
  object-fit: cover;
  background-repeat: repeat-x;
  /* background-position: 
    0 20%,
    0 100%,
    0 50%,
    0 100%,
    0 0;
  background-size: 
    2500px,
    800px,
    500px 200px,
    1000px,
    400px 260px;
  animation: 50s para infinite linear; */
  /* box-shadow: rgba(138, 92, 231, 0.863) 0px 34px 10px; */
}

.hero_container::before,
.hero_container::after {
  content: "❄";
  position: absolute;
  top: -10px;
  color: white;
  font-size: 1em;
  z-index: 1;
  opacity: 0.8;
  pointer-events: none;
  animation: fall linear infinite;
}

.hero_container::before {
  left: 10%;
  animation-duration: 10s;
  animation-delay: 0s;
  font-size: 20px;
}

.hero_container::after {
  left: 70%;
  animation-duration: 15s;
  animation-delay: 5s;
  font-size: 25px;
}

/* More snowflakes */
.snowflake {
  position: absolute;
  top: -10px;
  color: #f3eed2;
  font-size: 15px;
  z-index: 1;
  opacity: 0.8;
  pointer-events: none;
  animation: fall linear infinite;
}

.snowflake:nth-child(odd) {
  animation-duration: 15s;
  animation-delay: calc(var(--i) * 1s);
}

.snowflake:nth-child(even) {
  animation-duration: 10s;
  animation-delay: calc(var(--i) * 1.5s);
}

.snowflake:nth-child(1) { left: 10%; font-size: 10px; }
.snowflake:nth-child(2) { left: 20%; font-size: 10px; }
.snowflake:nth-child(3) { left: 30%; font-size: 10px; }
.snowflake:nth-child(4) { left: 40%; font-size: 10px; }
.snowflake:nth-child(5) { left: 50%; font-size: 10px; }
.snowflake:nth-child(6) { left: 60%; font-size: 10px; }
.snowflake:nth-child(7) { left: 70%; font-size: 10px; }
.snowflake:nth-child(8) { left: 80%; font-size: 10px; }
.snowflake:nth-child(9) { left: 90%; font-size: 10px; }
.snowflake:nth-child(10) { left: 25%; font-size: 10px; }
.snowflake:nth-child(11) { left: 35%; font-size: 10px; }
.snowflake:nth-child(12) { left: 45%; font-size: 10px; }
.snowflake:nth-child(13) { left: 55%; font-size:10px; }
.snowflake:nth-child(14) { left: 65%; font-size: 10px; }
.snowflake:nth-child(15) { left: 75%; font-size: 10px; }
@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(65vh) rotate(360deg);
  }
}

.customArrowPrev {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  /* background: #fff; */
  background-color: rgba(19, 10, 10, 0.5);
  border: none;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  z-index: 1;
  padding: 10px 25px;
  border-radius: 50%;
}

.customArrowNext {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(19, 10, 10, 0.5);
  border: none;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  z-index: 1;
  padding: 10px 25px;
  border-radius: 50%;
}

.designInfo {
  position: absolute;
  /* left: 50px;  */
  z-index: 3;
  color: #fff;
  background-color: rgba(39, 37, 37, 0.406);
  width: 100%;
  top: 0%;
  height: 100%;
  padding-bottom: 20px;
  display: flex;
  /* clip-path: polygon(0% 69%,100% 69%,100% 90%,0% 91%); */
  justify-content: center;
  align-items: end;
}

.designTitle {
  /* position: absolute; */
  font-size: 45px;
  color: #fff;
  /* margin-top: 20px; */
  /* animation: slideInLeft 1s ease-in-out forwards;
  animation-delay: 1s;
  left: -200px; */
  text-align: center;
  justify-content: center;
  display: flex;
  font-weight: bold;
  margin: 0px 0 0px auto;
  letter-spacing: 0px;
  font-family: "AvenirNextLTPro-medium";
  font-weight: bold;
}

/* .designDesc {
  position: absolute;
  width: 100%;
  display: flex;
  animation: slideInLeft 1.5s ease-in-out forwards;
  animation-delay: 1s;
  left: -500px;
  letter-spacing: 0.5px;
  font-size: 18px;
} */

.designButton {
  /* display: flex; */
  margin: 0px auto;
  width: 40%;
  /* animation: slideInLeft 2s ease-in-out forwards; */
  /* animation-delay: 1s; */
  /* left: -500px; */
  background-color: #f63b2a;
  padding: 15px 40px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 22px;
}
.rightArrow {
  height: 30px;
  width: 30px !important;
  margin: 2px 0 0 10px;
}
.designInfoContainer {
  /* display: flex; */
  opacity: 100;
  /* height: 70%; */
  justify-content: center;
  text-align: center;
  /* width: 100%; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

@keyframes slideInLeft {
  0% {
    left: -200px;
    opacity: 0;
  }
  70% {
    left: 800px;
    opacity: 1;
  }
  100% {
    left: 800px;
    opacity: 1;
  }
}

@media screen and (max-width: 1024px) {
  .hero_container {
    height: 50vh;
  }
  .bgImage {
    object-position: center;
    height: 50vh !important;
  }
  .imageContainer {
    height: 50vh;
  }
  .customArrowPrev {
    top: 50%;
    font-size: 20px;
    padding: 10px 20px;
  }
  .customArrowNext {
    top: 50%;
    font-size: 20px;
    padding: 10px 20px;
  }
  .designInfo{
    top: 0%;
  }
  .designInfoContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0px;
  }
  .designTitle {
    font-size: 18px;
    /* width: 80%; */
    padding: 0 40px;
    margin: 50% 0 0 auto;
    text-align: center;
  }
  /* .designDesc {
    font-size: 13px;
    top: 85px;
  } */
  .designButton {
    font-size: 15px;
    padding: 8px 12px;
    margin-top: 10px;
    width: 65%;
  }

  .rightArrow {
    height: 22px;
    width: 17px !important;
  }

  .snowflake {
   font-size: 2px;
  }

  .hero_container::after {
    left: 70%;
    animation-duration: 15s;
    animation-delay: 5s;
    font-size: 2px;
  }
  .hero_container::before {
    left: 10%;
    animation-duration: 10s;
    animation-delay: 0s;
    font-size: 2px;
  }
  .snowflake:nth-child(1) { left: 10%; font-size: 7px; }
.snowflake:nth-child(2) { left: 20%; font-size: 7px; }
.snowflake:nth-child(3) { left: 30%; font-size: 7px; }
.snowflake:nth-child(4) { left: 40%; font-size: 7px; }
.snowflake:nth-child(5) { left: 50%; font-size: 7px; }
.snowflake:nth-child(6) { left: 60%; font-size: 7px; }
.snowflake:nth-child(7) { left: 70%; font-size: 7px; }
.snowflake:nth-child(8) { left: 80%; font-size: 7px; }
.snowflake:nth-child(9) { left: 90%; font-size: 7px; }
.snowflake:nth-child(10) { left: 25%; font-size: 7px; }
.snowflake:nth-child(11) { left: 35%; font-size: 7px; }
.snowflake:nth-child(12) { left: 45%; font-size: 7px; }
.snowflake:nth-child(13) { left: 55%; font-size:7px; }
.snowflake:nth-child(14) { left: 65%; font-size: 7px; }
.snowflake:nth-child(15) { left: 75%; font-size: 7px; }
  @keyframes slideInLeft {
    0% {
      left: -300px;
      opacity: 0;
    }
    70% {
      left: 40px;
      opacity: 1;
    }
    100% {
      left: 30px;
      opacity: 1;
    }
  }
}
