.personalHomeMainContainer {
  margin: 142px 80px 0 80px;
}

.PersonalHomeCardContainer {
  width: 30%;
  background-color: #fff;
  color: #000;
  box-shadow: rgba(7, 7, 7, 0.559) 0px 4px 10px;
  border-radius: 7px;
  margin: 30px 0 0px 0;
  padding: 0px 0 30px 0;
  position: relative;
  justify-content: center;
  align-items: center;
}
.cardButtonContainer {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 20px 20px 0px 20px;
}

.personalHomeImages {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  height: 320px;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.personalHomeCardTitle {
  font-size: 20px;
  font-weight: bold;
  padding: 0 20px;
  margin-top: 15px;
  max-width: 500px;
  width: fit-content;
  height: 50px
}

.getFullViewHome {
  border: 1px solid #3d466b;
  padding: 10px 0px;
  border-radius: 20px;
  width: 50%;
}
.bookConsultation {
  background-color: #3d466b;
  padding: 10px 0px;
  border-radius: 20px;
  color: #fff;
  width: 50%;
}

.priceButtonHomeConst{
  background-color: #3d466b;
  padding: 20px 0px;
  color: #fff;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px auto 0 auto;
  font-size: 18px;
  font-weight: bold;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.personalHomeImagesLike {
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  padding: 8px 8px;
  object-fit: cover;
  margin-top: 10px;
  font-size: 20px;
  cursor: pointer;
  right: 10px;
  float: right;
}

.navbarContainer {
  border-bottom: 0.1px solid lightgray;
}

.navbarList {
  display: flex;
  gap: 40px;
  padding-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.navbarItem {
  padding-bottom: 15px;
  transition: color 0.3s ease;
}

.navbarItem:hover {
  color: #f63b2a;
}

.activeItem {
  border-bottom: 4px solid #f63b2a;
}

.homeDetailContainer{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.homeCardDetailsLeftContainer{
  width: 50%;
}
.homeCardDetailsTitle{
  font-size: 30px;
  font-weight: bold;
  width: 70%;
}
.homeCardDetailsDesc{
  font-size: 16px;
  margin: 10px 0 30px 0;
  color: #3d466b;
}

.homeCardDetailsText{
  font-size: 16px;
  margin-top: 10px;
  color: #3d466b;
}
.homeCardAllDetailsTitle{
  font-weight: bold;
  font-size: 18px;
}
.homeCardPriceButton{
  padding: 10px 40px;
  background-color: #f63b2a;
  color: #fff;
  border-radius: 6px;
  margin-top: 30px;
}

.homeCardDetailsImage{
  height: 500px;
  width: 850px;
  margin-top: -100px;
  margin-left: 50px;
  object-fit: cover;
}

.homeBottomImageContainer{
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
.homeCardDetailsBottomImage{
  height: 100px;
  /* margin-left: 50px; */
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  /* width: 100%; */
}

@media only screen and (max-width: 1024px) {
  .personalHomeMainContainer {
    margin: 142px 20px 0 20px;
  }
  .navbarList {
    font-size: 14px;
    overflow-y: auto;
  }
  .navbarList {
    gap: 25px;
  }
  .PersonalHomeCardContainer {
    max-width: 100%;
    width: 100%;
  }
  .personalHomeImages{
    height: 250px;
  }
  .personalHomeCardTitle {
    font-size: 16px;
  }
  
  .getFullViewHome {
    border: 1px solid #3d466b;
    padding: 8px 0px;
    font-size: 12px;
  }
  .bookConsultation {
    background-color: #3d466b;
    padding: 8px 0px;
    font-size: 12px;
  }
  .homeDetailContainer{
    flex-direction: column-reverse;
  }
  .homeCardDetailsImage{
    height: 250px;
    margin: 0px 0 0px 0
  }
  .homeCardDetailsBottomImage{
    height: 80px;
    width: 100px;
  }
  .homeCardDetailsLeftContainer{
    width: 100%;
  }
  .homeCardDetailsTitle{
    font-size: 20px;
    width: 90%;
    margin-top: 25px;
  }
  .homeCardDetailsDesc{
    font-size: 15px;
  }
  
  .homeCardDetailsText{
    font-size: 15px;
    margin-top: 10px;
    color: #3d466b;
  }
  .homeCardAllDetailsTitle{
    font-weight: bold;
    font-size: 16px;
  }
  .homeCardPriceButton{
    margin-bottom: 50px;
  }
  .homeBottomImageContainer{
    margin-left: 0px;
  }
}

.navbarList::-webkit-scrollbar {
  display: none;
}

.navbarList {
  scrollbar-width: none; 
}

.navbarList {
  -ms-overflow-style: none; 
}
